// Width Breakpoints
$small: null;
$medium-up: null;
$medium-only: null;
$large-up: null;
$large-only: null;
$xlarge-up: null;
$xlarge-only: null;
$xxlarge-up: null;

$small-column-count: 12 !default;
$medium-column-count: null !default;
@if $medium-column-count == null {
  $medium-column-count: $small-column-count !default;
}
$large-column-count: null !default;
@if $large-column-count == null and $medium-column-count != null {
  $large-column-count: $medium-column-count !default;
}
@else {
  $large-column-count: $small-column-count !default;
}
$xlarge-column-count: null !default;
@if $xlarge-column-count == null and $large-column-count != null {
  $xlarge-column-count: $large-column-count !default;
}
@else if $xlarge-column-count == null and $medium-column-count != null {
  $xlarge-column-count: $medium-column-count !default;
}
@else {
  $xlarge-column-count: $small-column-count !default;
}
$xxlarge-column-count: null !default;
@if $xxlarge-column-count == null and $xlarge-column-count != null {
  $xxlarge-column-count: $xlarge-column-count !default;
}
@else if $xxlarge-column-count == null and $large-column-count != null {
  $xxlarge-column-count: $large-column-count !default;
}
@else if $xxlarge-column-count == null and $medium-column-count != null {
  $xxlarge-column-count: $medium-column-count !default;
}
@else {
  $xxlarge-column-count: $small-column-count !default;
}

// Breakpoint Definitions for Toddy
$width-small-max: 767px !default;

$width-medium-min: 768px !default;
$width-medium-max: 1023px !default;

$width-large-min: 1024px !default;
$width-large-max: 1279px !default;

$width-xlarge-min: 1280px !default;
$width-xlarge-max: 1799px !default;

$width-xxlarge-min: 1800px !default;

// Small
$small: new-breakpoint(max-width $width-small-max $small-column-count);

// Medium
$medium-up: new-breakpoint(min-width $width-medium-min $medium-column-count);
$medium-only: new-breakpoint(min-width $width-medium-min max-width $width-medium-max $medium-column-count);


// Large
$large-up: new-breakpoint(min-width $width-large-min $large-column-count);
$large-only: new-breakpoint(min-width $width-large-min max-width $width-large-max $large-column-count);

// X-Large
$xlarge-up: new-breakpoint(min-width $width-xlarge-min $xlarge-column-count);
$xlarge-only: new-breakpoint(min-width $width-xlarge-min max-width $width-xlarge-max $xlarge-column-count);

// XX-Large
$xxlarge-up: new-breakpoint(min-width $width-xxlarge-min $xxlarge-column-count);