---
layout: default
---
{% assign allPosters = site.posters %}
{% assign allPages = site.pages %}

<div class="page">
	<div class="wrapper">
		<div class="flex-row">
			<div class="small-4 flex-columns">
				{{ site.title }}		
				{{ page.title }}
			</div>
			<div class="small-4 flex-columns">
				{{ site.description }}
			</div>
			
		</div>
		
	</div>
	
</div>

{% for page in allPages %}
	{{page.title}}
{% endfor %}

{% for section in site.pages %}

{% if page.layout == 'about' or page.layout == 'index' %}
{{ page.title }}
{% endif %}

{% endfor %}


	{% for poster in allPosters %}
	{% if poster.published %}
	<li>
		<a href="{{ poster.url }}">
			
			{{ poster.title }}

		</a>
	</li>
	{% endif %}
	{% endfor %}

</ul>



<!-- {% for page in site.pages %}
<a href="{{ page.url }}"></a>
{% endfor %} -->