---
layout: default
---
{% assign allPosters = site.posters %}
{% assign allPages = site.pages %}

<div class="page">
	<div class="wrapper">
		<div class="flex-row">
	
			<div class="small-4 flex-columns">
				{{ site.description }}
			</div>
			
		</div>
		
	</div>
	
</div>
 
<ul>
	{% for poster in allPosters %}
	{% if poster.published %}
		<li>
			<a href="{{ poster.url }}">
				<img src="/assets/posters/{{ poster.image }}" width="260">
			</a>
		</li>
	{% endif %}
	{% endfor %}
</ul>



<!-- {% for page in site.pages %}
<a href="{{ page.url }}"></a>
{% endfor %} -->