---
layout: index
---
{% assign allPosters = site.posters %}
{% assign allPages = site.pages %}


<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include header.html %}
     <div id="page-content">

      {% for image in site.static_files %}
       {% if image.path contains 'assets/posters' %}
         <img src="{{ image.path }}" alt="image" height="160"/>
        {% endif %}
      {% endfor %}

      {{ content }}
      </div>
  </body>
</html>








<!-- {% for page in site.pages %}
<a href="{{ page.url }}"></a>
{% endfor %} -->